[submodule "repositories/sd-scripts"]
	path = repositories/sd-scripts
	url = git@github.com:kohya-ss/sd-scripts.git
[submodule "repositories/leco"]
	path = repositories/leco
	url = git@github.com:p1atdev/LECO.git
[submodule "repositories/batch_annotator"]
	path = repositories/batch_annotator
	url = git@github.com:ostris/batch-annotator.git
[submodule "repositories/ipadapter"]
	path = repositories/ipadapter
	url = git@github.com:tencent-ailab/IP-Adapter.git
[submodule "MyRouter"]
	path = MyRouter
	url = https://github.com/alpttex19/MyRouter.git
